body main{
    background-color: rgb(0, 33, 59);
    color: aliceblue;
    font-family: cursive;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}
body{
    background-color: rgb(0, 3, 27);
    font-family: cursive;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
form{
    margin: 5%;
    background-color: beige;
    color: white;
   text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;}
